@charset "UTF-8";

section {
  text-align: center;
  margin: 150px 50px;
	
}

h1 {
  margin-top: 50px;
  margin-bottom: 0;
  font-size: 40px;
}

table {
  width: 90%;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  line-height: 40px;
}

table {
  border-collapse: collapse;
}

th {
  padding: 10px 0 10px 20px;
  border: 1px solid silver;
  border-top: 2px solid #009223;
}

td {
  padding: 5px 0 5px 20px;
  border: 1px solid silver;
}

th,
td {
  text-align: left;
  border-left: hidden;
  border-right: hidden;
}

.article {
  padding: 20px 0 20px 20px;
}

.separator {
  padding: 0 20px 0 20px;
  color: #e0e0e0;
}


.list {
  float: right;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin: 30px 15px 10px 0;
  border-radius:10px; 
  border: 2px solid #009223; 
  position: relative; right: 75px;
  font-size: 20px;
  font-weight: 700;
  background: #009223; 
  color: white;
}

.list:hover {
  float: right;
  width: 100px;
  height: 40px;
  line-height: 40px;
  margin: 30px 15px 10px 0;
  border-radius:10px;
  border: 2px solid #ffce32; 
  position: relative; right: 75px;
  font-size: 20px;
  font-weight: 700;
  transition: all 0.4s;
  background: #ffce32; 
  color: #009223;
  cursor: pointer;
}
textarea{border-radius:10px; border: 2px solid #009223;}
#replybtn{width: 7%; background:#009223; border: 2px solid #009223; font-size: 20px; font-weight: 700; color: white; border-radius:10px; margin-left: 10px;}
#replybtn:hover{width: 7%; background:#ffce32; border: 2px solid #ffce32; font-size: 20px; font-weight: 700; color: #009223; transition: all 0.4s; border-radius:10px;}
#replyTxt{list-style: none;}
#replyBtn{float: right; list-style: none; }
#rUBtn{width: 50px; line-height:25px;  text-align: center; }
#rDelBtn{width: 50px;  line-height: 25px; }
